.boards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#player-board{
    display: grid;
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(10, 30px);

}

#cpu-board{
    display: grid;
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(10, 30px);

}

.cell {
    border: solid black .2px;
}

.cell:hover {
    cursor: pointer;
}

.cell-hit{
    background-color: rgb(9, 13, 245);
}

.cell-not-hit {
    background-color: aqua;
}

.cell-ship {
    background-color: grey;
}

.cell-ship-hit {
    background-color: red;
}

.cell-placing {
    border: 5px solid black;
}

.ship{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.ship-cell{
    height: 30px;
    width: 30px;
    background-color: grey;
}

